<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CarbonZero</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Lora:wght@400;700&family=Montserrat:wght@400;700&family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
</head>
<body class="body">
    <header>
        <div class="navbar">
            <div class="title-box">
                <h1>CarbonZero</h1>
                <h4>Quantify. Reduce. Sustain</h4>
            </div>
           
        </div>
    </header>
    
    <div class="cards-container">
        <div class="cards">
            <div class="card">
                <h2>What is Carbon Footprint?</h2>
                <p class="card-content">
                    A carbon footprint is the total amount of greenhouse gases (GHGs) released into the atmosphere due to a person's or organization's actions. It includes emissions from burning fossil fuels for transportation, electricity, and other activities.
                </p>
            </div>
        </div>
        
        <div class="cards">
            <div class="card">
                <h2>Why is it Important?</h2>
                <p class="card-content">
                    Reducing your carbon footprint is crucial to mitigating climate change. By being more mindful of your actions, you can reduce harmful emissions and contribute to a healthier planet.
                </p>
            </div>
        </div>
        
        <div class="cards">
            <div class="card">
                <h2>How to Reduce Your Carbon Footprint?</h2>
                <p class="card-content">
                    Start by reducing energy consumption, using public transport, opting for renewable energy sources, and being mindful of waste reduction.
                </p>
            </div>
        </div>
        
        <div class="cards">
            <div class="card">
                <h2>Sustainability Goals</h2>
                <p class="card-content">
                    Aiming for sustainability means embracing a future where we conserve resources and protect the environment for future generations. It includes measures like adopting eco-friendly practices and supporting green technologies.
                </p>
            </div>
        </div>
    </div>
    
    <footer>
        <p>&copy; 2025 CarbonZero. All rights reserved.</p>
    </footer>
</body>
</html> -->