.body {
    font-family: "Saira Stencil One", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: none;
    padding: none;
    /* background-image: url('bg.png'); */
}
header {
    /* background-color: #157145; */
    color: white;
    padding: 20px;
    text-align: center;
}

.cards {
    background-color: #38536a;
    margin: auto;
    padding: 1rem;
    border-radius: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* margin-left: 13rem; */
    height: 50rem;
    width: 50rem;
    box-shadow: 0 0 15px rgba(148, 178, 162, 0.8);
}

footer {
    background-color: #061826;
    color: white;
    text-align: center;
    padding: 10px;
    position: bottom;
    bottom: 0;
    width: 100%;
}
#photo{
    background-image: url(./bg.png);
}