.body {
    font-family: "Saira Stencil One", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: none;
    padding: none;
    /* background-image: url('bg.png'); */
}


header {
    /* background-color: #157145; */
    color: white;
    padding: 20px;
    text-align: center;
}

.cards {
    background-color: grey;
    margin: 1rem;
    padding: 1rem;
    border-radius: 2rem;
    display: flex;
    flex-wrap: wrap;
    height: 20rem;
    width: 15rem;
}

footer {
    background-color: #061826;
    color: white;
    text-align: center;
    padding: 10px;
    position: bottom;
    bottom: 0;
    width: 100%;
}
